.controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.grid-contanier{
  width: 100%;
  min-height: 80vh;
}

.content-section {
  min-height: 90vh;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 1.5rem;
}

/* Dashboard Container */
.dashboard-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #375AB2 0%, #1C0A43  100%);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

/* Main Content */
.dashboard-content {
  margin-left: 70px;
  padding: 2rem;
  min-height: calc(100vh - 120px);
}

select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-select {
  background-color: #2C2F48;
  color: #fff;
  border: 1px solid #555;
}

.form-select option {
  background-color: #1C0A43;
  color: #fff;
}
